.container{
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.box-1{
    background-color: rgb(216, 12, 19);
    color: floralwhite;
    border:15px gold solid;
    
}
.box-2{   
     background-color: rgb(12, 49, 216);
    color: rgb(7, 5, 0);
    border:15px rgb(0, 255, 13) solid;
    }

.box-3{
    background-color: rgb(216, 12, 19);
    color: floralwhite;
    border:15px gold solid;
}
ul{
    text-align: auto;
}