<style>
.my-container {
  border: 1px solid gray;
}
.my-row {
  border: 3px solid black;
  
}
.my-col {
  border: 3px solid lightslategray;
  height: 800px;
}
.container {
text-align: center;
}
.header {
  text-align: center;
}



</style>