.container{
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

.box-1{
    background-color: rgb(54, 52, 52);
    color: floralwhite;
    border:80px rgb(22, 19, 0) solid;
    
}
.box-2{   
     background-color: rgb(34, 34, 36);
    color: rgb(197, 196, 193);
    border:80px rgb(58, 63, 59) solid;
    }

.box-3{
    background-color: rgb(77, 71, 71);
    color: floralwhite;
    border:80px rgb(46, 46, 46) solid;
}
table {
    width: 1000px;
    
}
table, th, tr, td {
    border: midnightblue 1px solid;
    border-collapse: collapse;
}
tr, td {
    padding: 30px;

}
tr:nth-child(even) {
    background-color: orange;
}
tr:nth-child(odd) {
    background-color: palevioletred;
}